.input-group {
    position: relative;

    & > label {
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        display: block;

        position: absolute;
        color: #999999;
        top: 50%;
        left: 8px;
        z-index: 99;

        transform: translateY(-50%);

        transition: all 0.3s ease;
    }

    & > input {
        width: 100%;
        height: 48px;
        padding: 15px 10px 0px 10px;
        font-family: "Roboto";
        font-weight: bold;

        background-color: #ededed;

        border: none;
        border-radius: 5px;

        &:focus,
        &:valid {
            border-bottom: 2px solid white;
        }

        outline: none;
    }
    input:focus + label,
    input:valid + label {
        font-size: 11px;
        top: 11px;
    }
}
