* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: black;
    background-color: var(--primary-color);
    /* padding: 20px 5px; */
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}

html,
body,
input,
button {
    font-family: "Roboto", sans-serif;
}

.maring-bottom-m {
    margin-bottom: 25px;
}
